{
  "stylesheet": [
    "github-markdown.css"
  ],
  "body_class": [
    "markdown-body"
  ],
  "pdf_options": {
    "format": "A4",
    "margin": "20mm",
    "printBackground": true,
    "displayHeaderFooter": true,
    "headerTemplate": "<span></span>",
    "footerTemplate": "<div style=\"font-size: 10px; text-align: center; width: 100%;\">Page <span class=\"pageNumber\"></span> of <span class=\"totalPages\"></span></div>"
  },
  "script": [
    {
      "content": "MathJax = { tex: { inlineMath: [[\"$\", \"$\"], [\"\\\\(\", \"\\\\)\" ]], displayMath: [[\"$$\", \"$$\"], [\"\\\\[\", \"\\\\]\"]] }, chtml: { fontURL: \"/fonts/mathjax/woff-v2\" } };"
    },
    {
      "url": "js/tex-chtml.js"
    }
  ]
}
